@charset "UTF-8";

body, ul, li{
	margin: 0; padding: 0;
}

.bottom{
	width: 95%; height: 100px;
	margin: 0 70px;

}


.info{
	float: left;
	width: 25%;
	text-align: left;
	margin-bottom: 40px;
	line-height: 25px;
}

.info h2{
	line-height: 10px;
}

#tel {
	line-height: 60px;
	font-size: 30px;
	color: orange;
}