@charset "UTF-8";
#loginForm{

	 margin-top: 80px;
	 margin-bottom: 80px;
	}
	
	#logtitle{
		text-align: center;
		margin-bottom: 30px;
	}
	
	#log {
		
		text-align:center;
		}
		
	#userid {
		width: 300px;
		height: 30px;
		margin-bottom: 20px;
	}
	#userpwd{
		width: 300px;
		height: 30px;}
	
	#login{
		margin-top: 30px;
		margin-bottom: 5px;
		width: 310px;
		height: 40px;
		color: white;
		background-color: #FFA200;
		border: none;
		border-radius: 2px;
	}
	
	
	#box li:first-child{
		margin-top: 7px;
		font-size: 14px;
		
	}
	
	#singup{
		margin-top: 50px;
		text-align: center;
	}
	
	#singup a {
		color: #FFA200;
	}