@charset "UTF-8";

body, ul ,li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a:link {
	text-decoration: none;
	
}

#memberinfo{
 	text-align: right;
 	margin-top: 20px;
 	margin-right: 10px;
 	
 }
 
#logo {
	text-align: center;
}

.popmenu, a:link, a:visited{ text-decoration:none; color:#333;}
.popmenu a:hover{text-decoration:none; color:#333; font-weight:bold;}
	
	
.container{
		width: 1400px;; margin:0 auto;
}

/*메인메뉴*/
	.popmenu{
		height:50px;
		margin-left: 300px;
		margin-right: 300px;
		font-family: Bell MT;
		
	}
	.popmenu>li{
		float:left; width:20%; height:50%; line-height:50px; text-align:center; 
	}
	
/*서브메뉴*/
.popmenu>li>ul{
	background-color: white;
	position: relative;
	display:none;
	z-index : 1000; 
}

@media all and (min-width:601px) and (max-width:1350px){
		.container{
		width: 100%; margin:0 auto;}
		
		.popmenu{
		height:50px;
		margin-left: 200px;
		margin-right: 200px;
		font-family: Bell MT;}
		
		.popmenu>li>ul{
		font-size:13px; }
		
		
}
@media print{
	.container{display:none;}
}