<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wedding.app.dao.AdminDAO">
	<select id="loginOk" resultType="StaffVO">
		select staffid from staff where staffid=#{staffid} and staffpwd=#{staffpwd}
	</select>
	<select id="adList" resultType="ReservationVO">
		select no, userid, hallname, date_format(dday,'%Y-%c-%e') dday, scale, date_format(dday,'%Y-%c-%e') cday, dress, makeup, stabdby from reservation
	</select>
	<update id="reservationMultiCancel">
		update reservation set stabdby='예약취소' 
		<where>
			<foreach item="item" index="index" collection="noList" open="no in (" separator="," close=")">
				${item}
			</foreach>
		</where>
	</update>
	<update id="reservationMultiComplete">
		update reservation set stabdby='예약확정' 
		<where>
			<foreach item="item" index="index" collection="noList" open="no in (" separator="," close=")">
				${item}
			</foreach>
		</where>
	</update>
	<update id="reservationMultiChange">
		update reservation set dday=#{dday} 
		<where>
			<foreach item="item" index="index" collection="noList" open="no in (" separator="," close=")">
				${item}
			</foreach>
		</where>
	</update>
	<select id="adCheck" resultType="DaychangeVO">
		select userid, `change`, date_format(changeday,'%Y-%c-%e') changeday from daychange order by userid asc, `change` desc, changeday desc
	</select>
	<insert id="adBoardOk">
		insert into board(subject, content, staffid, ip) values(#{subject}, #{content}, #{staffid}, #{ip})
	</insert>
	<select id="getBoard" resultType="BoardVO" parameterType="int">
		select no, subject, content, hit, staffid, writedate from board where no=${param1} 
	</select>
	<update id="adBoardEditOk" parameterType="BoardVO">
		update board set subject=#{subject}, content=#{content} where no=${no} and staffid=#{staffid}
	</update>
	<insert id="dataInsert">
		insert into event(subject, content, staffid, filename) 
		values(#{subject}, #{content}, #{staffid}, #{filename}) 
	</insert> 
	<select id="dataSelect" resultType="EventVO">
		select no, subject, content, staffid, filename, writedate from event where no=${param1}
	</select>
	<select id="getFilenames" resultType="EventVO">
		select filename from event where no=${param1}
	</select>
	<update id="dataUpdate">
		update event set subject=#{subject}, content=#{content}, filename=#{filename} where no=${no} and staffid=#{staffid}
	</update>
	<insert id="gdataInsert">
		insert into gallery(subject, content, staffid, filename) 
		values(#{subject}, #{content}, #{staffid}, #{filename})
	</insert>
	<select id="gdataSelect" resultType="GalleryVO">
		select no, subject, content, staffid, filename, writedate from gallery where no=${param1}
	</select>
	<select id="ggetFilenames" resultType="GalleryVO">
		select filename from gallery where no=${param1}
	</select>
	<update id="gdataUpdate">
		update gallery set subject=#{subject}, content=#{content}, filename=#{filename} where no=${no} and staffid=#{staffid}
	</update>
</mapper>