<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wedding.app.dao.ReservationDAO">
	<select id="reservationList" resultType="ReservationVO">
		select date_format(dday,'%Y-%c-%e') dday from reservation where hallname=#{param1} order by dday
	</select>
	<select id="checkPrint" resultType="ReservationVO">
		select hallname, scale, date_format(dday,'%Y-%c-%e') dday, makeup, dress from reservation where userid=#{param1}
	</select>
	
</mapper>	